.room_code {
	height: 40px;
	border-radius: 8px;
	overflow: hidden;

	background: #fff;
	border: 1px solid #ffb86c;
	cursor: pointer;

	display: flex;
	transition: background 0.2s;

	&.dark {
		background: #282a36;
		color: #f8f8f8;
	}

	div {
		background: linear-gradient(145deg, #ff5555, #ffb86c);
		padding: 9px 12px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			margin-right: 10px;
		}
	}

	span {
		display: block;
		align-self: center;
		flex: 1;
		padding: 0 16px 0 12px;
		width: 240px;
		font-size: 14px;
		font-weight: 500;
	}
}
